@page "/developergrid"
@using EditForm.Demo.PageBase
@inherits DeveloperGridBase

<h3>DeveloperGrid</h3>

<h5> Developer detail Grid coming soon</h5>
<br />
<div class="row ">
    <div class="col-md-6 col-sm-6 pad-adjust">
        <input type="button" class="btn btn-secondary" value="CREATE" />
    </div>
</div>

@code {

}
